.features {
  display: flex;
  align-items: center;
  padding: 5rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}


.text--center {
  text-align: center;
}

.col--4 {
  flex-basis: 33%;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

p {
  font-size: 1rem;
}
